html{
    font-family: sans-serif;
}


header{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}


header ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

.button-1{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: hidden;
    background-color: rgb(15, 70, 237);
    color: white;
}

section{
    display: flex;
    margin-top: 20px;
    background-color: rgb(142, 164, 190);
    justify-content: center;
}

.title-1{
    font-size: 30px;
}

.txt-box{    
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 13px;
    flex-direction: column;
    gap: 30px;
    flex-basis: 30%;
    
}

.text-1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.down-arrow{
    font-size: 2rem;
    margin-top: 40px;
}

.immagine-1{
    display: flex;
    margin-top: 170px;
    margin-right: 60px;
    flex-basis: 70%;
}

.btn-prova{
    margin-right: 120px;
    padding: 5px;
    background-color: rgb(24, 82, 207);
    color: white;
    border-style: hidden;
}

.container-1{
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.container-2{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    gap: 50px;
}

.box{
    border: 2px solid lightgray;
    padding: 7px;
    text-align: start;
    width: 300px;
    height: 650px;
    
}

a{
    color: blue;
}

.simbolo{
    border: 2px solid lightgray;
    text-align: center;
    padding: 3px;
    margin-bottom: 25px;

    
}

.button-2{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: hidden;
    background-color: rgb(24, 82, 207);
    color: white;
}

.acquista{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}


.box-2{
    display: flex;
    justify-content: space-between;
    border: 2px solid lightgray;
    height: 250px;
    width: 1050px;
}

.fa-check{
    color: rgb(0, 68, 255);
}
.box-3{
    width: 1155px;
}

.team{
    display: flex;
    justify-content: center;
    border: 2px solid lightgray;
    border-width: 1155;
    padding-left: 30px;
    padding: 5px;
}




.text-2{
    margin-top: 20px;
}

.text-3{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.text-4{
    padding: 10px;
}

.container-3{
    display: flex;
    justify-content: center;
    padding: 80px;
}

.partner-image{
    margin-left: 200px;
}

.text-5{
    padding: 40px;
    padding-right: 260px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.btn-partner{
    padding: 8px;
    background-color: white;
    border: 1px solid black;
}

.container-4{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.operazioni-title{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.card-operazioni{
    width: 250px;
    padding-top: 30px;
}

.container-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 350px;
    padding-top: 100px;
    gap: 30px;
    width: 400px;
}

footer{
    height: 380px;
    background-color: black;
    color: white;

}

.container-footer-colonne{
    color: white;
    padding: 80px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
}

.container-footer-colonne ul{
    list-style: none;
}

.container-footer-colonne ul strong{
    font-size: 18px;
}

.lenguage{
    padding-left: 120px;
    padding-bottom: 20px;
}

.lenguage hr{
    width: 100px;
}